def playerIcons(poi):
    if poi['id'] == 'Player':
        poi['icon'] = "http://overviewer.org/avatar/%s" % poi['EntityId']
        return "Last known location for %s" % poi['EntityId']

worlds['myworld'] = "/home/minecraft/minecraft-rakefile/world-temp/minecraft/world"
outputdir = "/var/www/html/minecraft/render"

renders["day"] = {
        'world': 'myworld',
        'title': 'Day',
        'rendermode': 'smooth_lighting',
        'markers': [dict(name="Players", filterFunction=playerIcons)]
        }

renders["night"] = {
        'world': 'myworld',
        'title': 'Night',
        'rendermode': 'smooth_night',
        'markers': [dict(name="Players", filterFunction=playerIcons)]
        }

